/*Pagina CSS*/
*{

    /*border: 2px dotted slategrey;*/
    font-family: sans-serif;
    padding: 0px;
    box-sizing: border-box;
}

html{
    padding: 0px;
    border: 0px;
    margin: 0px;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 300px;
    width: 50%;
    height: 600px;
    background-image: url("../img/fundo.jpg"); 
    background-repeat: repeat; 
    background-position: center;
}

header {
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 435px; 
    background-color: white;
}

footer {
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    text-align: center;  
    height: 75px;
}

header, footer {
    color:white;
    font-weight: bold;
    background-color:rgb(131, 129, 230);
}

.campos {    
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 25px;
}

.campos input {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    height: 80%;
  }

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto; 
}

.item + .item{
    margin-top: 2%;
}


h1 {
    text-align: center;
}

.check-item {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    align-items: center;
    
}

.bt-check {
    margin-right: 15px;
    width:  30px;
    height: 25px;
}

.ativ{
    position: relative;
    margin-top: 9px;
    margin-right: 50%;
    flex-wrap: wrap;
    left: auto;
    width: 200px;
    height: 25px;
    
}


.botao {   
    left: auto; 
    width:  15px;
    height: 15px;
}

/*Texto riscada/tachada*/
.check-item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}



/*Posicionamento da tela*/
@media screen and (max-width: 750PX){
   
    body {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        left: 0px;
        width: 95%;
        height: 400px;
        background: none;
        background-color: rgb(131, 129, 230);
        margin: auto;



    }

}


